/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

body {
    background-color: #0d0d0d;
}

.header_logo {
    background-color: #0d0d0d;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo img {
    height: 10vh;
}

.header_infos {
    background-image: url("../img/banner.png");
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.header_infos h1 {
    color: #ffffff;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
}

.header_infos p {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    max-width: 72%;
    margin-left: 100px;
}

main {
    padding-left: 100px;
}

.main_nav {
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main_nav h3 {
    color: #ffffff;
    font-size: 18pt;
    font-family: 'Poppins', sans-serif;
}

.main_nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main_nav ul li {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 155px;
    border: 2px solid #ffffff;
    border-radius: 50px;
}

.main_section {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.main_card {
    background-image: url("../img/imagemCard.png");
    background-size: cover;
    width: 90%;
    height: auto;
    height: 260px;
    padding-left: 20px;
}

.main_card_top {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main_section h2 {
    font-size: 24px;
}

.main_card_top span {
    font-size: 18px;
    width: 100%;
    height: 50%;
}

.main_card_bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.main_card_bottom p {
    font-size: 18px;
    max-width: 70%;
    margin-bottom: 30px;
}

.main_card_bottom span {
    font-size: 18px;
    margin-bottom: 30px;
}
aside {
    display: flex;
    flex-direction: row;
}